@import '../../../styles/variables';

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 6rem auto;
    letter-spacing: 2px;

    p {
        color: $light-color;
        font-size: 0.8rem;
        width: 100%;
        max-width: 400px;
        text-align: center;
    }

    h2 {
        background: linear-gradient(90.04deg, $light-color 2%, $primary-color 100%);
        -webkit-background-clip: text;
        font-weight: 500;
        -webkit-text-fill-color: transparent;
    }
}
    .about {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        margin: 20px 1.5rem;
        text-align: center;
        
        h5{
            background: linear-gradient(90.04deg, $light-color 2%, $primary-color 100%);
            -webkit-background-clip: text;
            font-weight: 500;
            -webkit-text-fill-color: transparent;
        }

        .service{
            border-width: 3px;
            border-style: solid;
            border-image: linear-gradient(to bottom, $primary-color, $secondary-color) 1 100%;
            color: $light-color;
            text-align: start;

        p {
            width: 100%;
            max-width: 330px;
            margin: 10px auto;
        }
       
        }
    }



@media (max-width: 760px) {
    .title {
        margin: 4rem auto;
        
        p {
            font-size: 0.75rem;
            max-width: 300px;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        max-width: 400px;
        padding: 15px;
        
        .service{
        
        p {
            width: 100%;
            max-width: 230px;
            font-size: 0.8rem;
        }
        }
    }
}

@media (max-width: 480px) {
    .title {
        h2 {
            font-size: 1.2rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 0.7rem;
            max-width: 250px;
        }
    }

    .about {
        max-width: 280px;
        padding: 10px;
        gap: 2rem;
        margin: 10px auto;
        .service{
        p {
            font-size: 0.75rem;
            max-width: 200px;
        }
        }
    }
}
